<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Disblock is a totally customizable Discord Bot. You can create your own actions with blocks like in Scratch, and the bot will execute your created code in Discord !"/>
    <!-- Voir https://developer.mozilla.org/fr/docs/Web/HTTP/CSP et https://developer.mozilla.org/fr/docs/Web/HTML/Element/meta -->
    <title>Disblock</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
    <link rel="stylesheet" type="text/css" href="style"/>
    <link rel="stylesheet" type="text/css" href="style/index-style"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css"/><!-- AOS stylesheet -->
  </head>
  <body>

    <!-- Div only used to add opacity on all screen -->
    <div class="black_opacity" style="z-index:1;">
    </div>

    <!-- Used to hold space that should be taken by header_div in document flow -->
    <div class="dummy_div"></div>

    <!-- Used to show menu div, "Disblock"  -->
    <div class="header_div">
      <div class="menu_svg">
        <img src="img/bouton_header.svg" alt="menu" width="100%" height="100%"/>
      </div>
      <h1>D<span>IS</span>BLOCK</h1>
    </div>

    <!-- Menu / nav -->
  <div class="menu_div">
    <nav id="menu_nav">
      <ul>
        <li><a href="#"><%- locale.home %></a></li>
        <li><a href="#"><%- locale.functionnalities %></a></li>
        <li><a href="#"><%- locale.invite %></a></li>
        <li><a href="#"><%- locale.premium %></a></li>
      </ul>
    </nav>
  </div>

    <div id="first_area_div">

      <div class="first_area_div_text">
        <p><span style="font-size:1.5em;font-family: Roboto, Arial;"><%- locale.title %></span><br><br>
          <%- locale.subtitle %>
      </div>

      <%
      // We calculate here where this button must redirect and what is written on it
      let buttonLink, buttonText;
      if(session.username==undefined){
        //User not logged in
        buttonLink = '/login';
        buttonText = locale.connectWith;
      }else{
        //User logged in
        buttonLink = "/panel";
        buttonText = locale.goToPanel;
      }
      %>

      <a href="<%- buttonLink %>" id="header_div_a_button">
        <div class="first_area_div_button">
          <div class="first_area_div_button_text">
            <p><%- buttonText %> </p>
          </div>
          <% if(session.username==undefined){ /* Discord logo*/%>
            <div class="first_area_div_button_img">
              <img src="img/discord.png" width="60px" height="60px">
            </div>
          <% } %>
        </div>
      </a>

      </div>

      <!-- Used to place a space between the gradient and the rest of the page -->
      <div class="first_area_gradient_start">
      </div>

    <!-- The div with a little text and a button/img -->
    <div class="content_line_div" style="margin-top:0px;">
      <div class="content_line_div_text" style="width:100%;margin:0">
        <p style="text-align:center;"><%- locale.div1Text %></p>
      </div>
      <div class="content_line_div_media" style="display:none">
      </div>
    </div>

    <!-- The "Why Disblock" area -->
    <div id="why_disblock_div">
      <h2 class="section_title"><%- locale.whyDisblock %></h2>

      <div class="why_disblock_content_div" data-aos="fade-right"><!-- That's the div  that contain everything -->
        <div class="why_disblock_content_div_img why_disblock_content_div_left"><!-- This div contain the image. why_disblock_content_div_left place this div on left. -->
          <img src="img/blocks.JPG">
        </div>

        <div class="why_disblock_content_div_text why_disblock_content_div_right"><!-- This div contain the description of the image -->
          <p class="why_disblock_content_div_text_main_span"><!-- Three <p> are present for the title, description, and link -->
            <%- locale.whyDisblock1Title %>
          </p>
          <p class="why_disblock_content_div_text_desc_span">
            <%- locale.whyDisblock1Text %>
          </p>
          <p class="why_disblock_content_div_text_link_span">
            <a href="#"><%- locale.whyDisblock1Link %></a>
          </p>
        </div>
      </div>

      <div class="why_disblock_content_div" data-aos="fade-left">
        <div class="why_disblock_content_div_img why_disblock_content_div_right"><!-- This div contain the image. why_disblock_content_div_left place this div on left. -->
          <img src="img/placeholder.png">
        </div>

        <div class="why_disblock_content_div_text why_disblock_content_div_left">
          <p class="why_disblock_content_div_text_main_span">
            <%- locale.whyDisblock2Title %>
          </p>
          <p class="why_disblock_content_div_text_desc_span">
            <%- locale.whyDisblock2Text %>
          </p>
          <p class="why_disblock_content_div_text_link_span">
            <a href="#"><%- locale.whyDisblock2Link %></a>
          </p>
        </div>
      </div>

      <div class="why_disblock_content_div" data-aos="fade-right">
        <div class="why_disblock_content_div_img why_disblock_content_div_left"><!-- This div contain the image. why_disblock_content_div_left place this div on left. -->
          <img src="img/placeholder.png">
        </div>

        <div class="why_disblock_content_div_text why_disblock_content_div_right">
          <p class="why_disblock_content_div_text_main_span">
            <%- locale.whyDisblock3Title %>
          </p>
          <p class="why_disblock_content_div_text_desc_span">
            <%- locale.whyDisblock3Text %>
          </p>
          <p class="why_disblock_content_div_text_link_span">
            <a href="#"><%- locale.whyDisblock3Link %></a>
          </p>
        </div>
      </div>

      <div class="why_disblock_content_div" data-aos="fade-left">
        <div class="why_disblock_content_div_img why_disblock_content_div_right"><!-- This div contain the image. why_disblock_content_div_left place this div on left. -->
          <img src="img/placeholder.png">
        </div>

        <div class="why_disblock_content_div_text why_disblock_content_div_left">
          <p class="why_disblock_content_div_text_main_span">
            <%- locale.whyDisblock4Title %>
          </p>
          <p class="why_disblock_content_div_text_desc_span">
            <%- locale.whyDisblock4Text %>
          </p>
          <p class="why_disblock_content_div_text_link_span">
            <a href="#"><%- locale.whyDisblock4Link %></a>
          </p>
        </div>
      </div>

    </div>


    <!-- The div with a little text and a button/img -->
    <div class="content_line_div">
      <div class="content_line_div_text" style="width:100%;margin:0">
        <p style="text-align:center;"><%- locale.div2Text %></p>
      </div>
      <div class="content_line_div_media" style="display:none;">
      </div>
    </div>

    <!-- The div with some docs and help to use the bot -->
    <div id="docs_div">
      <h2 class="section_title"><%- locale.docsTitle %></h2>
      <p><%- locale.docsText %></p>

      <style>/* That's defined here to make the translations easier */
      #docs_div_content::before{content: "<%- locale.iWant %>";}
      </style>

      <!-- This div contain everything else about docs and Discord widget -->
      <div id="docs_div_content">

        <!-- These div contain links to the docs-->
        <div class="docs_div_content_link" data-aos="fade-right">
          <div class="docs_div_content_link_text_div"><p><%- locale.docsTopic1 %></p></div>
          <div class="docs_div_content_link_img_div"><a href="#"><img src="img/placeholder.png"></a></div>
        </div>

        <div class="docs_div_content_link" data-aos="fade-right">
          <div class="docs_div_content_link_text_div"><p><%- locale.docsTopic2 %></p></div>
          <div class="docs_div_content_link_img_div"><a href="#"><img src="img/placeholder.png"></a></div>
        </div>

        <div class="docs_div_content_link" data-aos="fade-right">
          <div class="docs_div_content_link_text_div"><p><%- locale.docsTopic3 %></p></div>
          <div class="docs_div_content_link_img_div"><a href="#"><img src="img/placeholder.png"></a></div>
        </div>

        <!-- This div contain Discord widget -->
        <div id="docs_div_content_discord_img" data-aos="zoom-out">
          <div class="docs_div_content_discord_img_text_div">
            <p><%- locale.docsAsk %></p>
          </div>
          <div class="docs_div_content_discord_img_div">
              <a href="#"><img id="discord_img" width="350px" height="350px" src="img/discord_temp.png"></a>
          </div>
        </div>

      </div>
    </div>


    <!-- The div with a little text and a button/img -->
    <div class="content_line_div">
      <div class="content_line_div_text" style="width:100%;margin:0">
        <p style="text-align:center;"><%- locale.div3Text %></p>
      </div>
      <div class="content_line_div_media" style="display:none;">
      </div>
    </div>

    <!-- The div with social networks ( Twitter )-->
    <!--<div id="social_networks_div">
      <h2 class="section_title"><%- locale.followUsTwitter %></h2>
      <div id="social_networks_div_content">-->

        <!-- Four last publications made on Twitter -->
        <!--<div class="social_networks_div_content_publication">
        </div>
        <div class="social_networks_div_content_publication">
        </div>
        <div class="social_networks_div_content_publication">
        </div>
        <div class="social_networks_div_content_publication">
        </div>

      </div>
    </div>

    <!-- The footer -->
    <div class="footer">
      <div class="footer_content">

        <!-- Div used to select language -->
        <div class="footer_content_language">
          <ul>
            <li><a href="/loc/fr"><img src="img/FR_flag.svg"></a></li>
            <li><a href="/loc/en"><img src="img/US_flag.svg"></a></li>
            <!--<li><a href="#"><img src="img/JP_flag.svg"></a></li>-->
          </ul>
        </div>

        <!-- The title -->
        <h2 class="section_title">Disblock</h2>

        <!-- Links -->
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">RGPD</a></li>
          <li><a href="#">Mentions légales</a></li>
        </ul>

        <!-- Text on the bottom -->
        <p>&lt;/&gt; by LJ50</p>
        <!-- Div for an img -->
        <!--<div class="footer_content_img_div">
          <img src="img/doc_link.png" height="100%" width="100%">
        </div>-->
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      //AOS initialisation
      AOS.init({
        duration: 1200,
        once: false,
        mirror: true
      });

      /* Menu slider */
      let isMenuShown = false;

      $(".menu_svg").click(()=>{
        if(isMenuShown){
          //Remove menu
          $(".menu_div").animate({"max-width":"0px"}, 500, "swing", ()=>{
            $(".black_opacity").css("display", "none");
            $(".menu_div nav").css("visibility", "hidden");
            $(".menu_div").css("display", "none");
          });
        }else{
          //Show menu
          $(".black_opacity").css("display", "block");
          $(".menu_div nav").css("visibility", "visible");
          $(".menu_div").css("display", "block");
          $(".menu_div").animate({"max-width":"300px"}, 500);
        }
        isMenuShown = !isMenuShown;
      });

      const url = new URLSearchParams(document.location.search);//Get the error param in URL and check if there is an error
      let error = url.get("error") || '0';

      switch(error){
        case '0':
          break;//Everything is OK
        case '1975664':
          alert("Sorry but Disblock is actually in closed Alpha for testing purposes. You can join the Discord Server to stay informed about us, we're planning to open soon !");
          break;
        default:
          break;
      }
    </script>
  </body>
  <footer>
  </footer>
</html>
