<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Voir https://developer.mozilla.org/fr/docs/Web/HTTP/CSP et https://developer.mozilla.org/fr/docs/Web/HTML/Element/meta -->
    <title>Control Panel</title>
    <link rel="stylesheet" type="text/css" href="/style/panel">
    <script src="<%- language %>"></script>
    <%-  include('ejs/include_everywhere.ejs'); %>
    <script type="text/babel">
      class GuildDiv extends React.Component {
        render() {
          return (
            <div className="panel_guild_div tooltip">
              <span className="tooltiptext">{this.props.guildName.slice(0, 31)}</span>
              <div className="panel_guild_div_img_holder">
                <a href="#"><img className="circle" src={this.props.icon} /></a>
              </div>
            </div>
          );
        }
      }
    </script>
  </head>
  <body>
    <%-  include('ejs/panelMenu.ejs'); %>
    <div class="bodyDiv" id="particles-js">

    </div>
    <div class="contentBodyDiv" id="contentBodyDiv">

      <div id="guildsDiv">
      </div>
      <div id="infoDiv">
        <h2>Le grand Issou 1er viendra purifier par l'atome !</h2>
      </div>
      <div id="rightDiv">
        <h2>Mais avant tout, nous remercions notre sponsor, IssouVPN !</h2>
      </div>
    </div>

  </body>
  <footer>
  <script type="text/babel">
    ReactDOM.render(<div id="guilds_holder">
    <h2>Lorem Ipsum sit dolor adem</h2>
    <%
      for(var i=0; i<guilds.length;i++){
        //Calculate icon for the server
        var link;
        if(guilds[i].icon!=undefined && guilds[i].icon!=''){
          link = "https://cdn.discordapp.com/icons/"+guilds[i].id+"/"+guilds[i].icon+".png?size=128";
        }else{
          link = "/img/logo.png";
        }

        %><GuildDiv guildID="<%- guilds[i].id %>" guildName="<%- guilds[i].name %>" icon="<%- link %>" /><%
        }
      %>
      </div>,document.getElementById('guildsDiv'));
    </script>
    <script src="/script/particles"></script>
    <script>

    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/script/particle_config');
    </script>
  </footer>
</html>
