<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Voir https://developer.mozilla.org/fr/docs/Web/HTTP/CSP et https://developer.mozilla.org/fr/docs/Web/HTML/Element/meta -->
    <title>Disblock - Panel</title>
    <link rel="stylesheet" type="text/css" href="/style">
    <link rel="stylesheet" type="text/css" href="/style/panel-style">
  </head>
  <body>

    <!-- Div only used to add opacity on all screen -->
    <div class="black_opacity">
    </div>

    <!-- The div on top -->
    <div id="top_div">

      <div id="top_div_img_div">
        <a href="/"><img src="/img/carree.png"></a>
      </div>
      <!-- Div used to contain logout svg ( Or login svg ) -->
      <div id="top_div_logout">
        <%
          if(session.username==undefined){
            //Not logged in
            %>
              <style>
                #top_div_logout a::before{
                  content: "Login With Discord";
                  color: white;
                  font-size: 1em;
                  margin-bottom: 40%;
                }
              </style>
              <a href="<%- login_url %>&state=<%- session.state %>"><img src="img/login.svg"></a>
            <%
          }else{
            //Logged in
            %><a href="/logout"><img src="/img/logout.svg"></a><%
          }
        %>
      </div>

      <!-- Div used to show user profile picture/pseudo, or the "Login" button -->
      <style>
        #top_div_user::after{content: "<%- session.username||"" %>";}
      </style>

      <div id="top_div_user">
        <%
          if(session.username!=undefined){
            //Logged in
            %><img src="https://cdn.discordapp.com/avatars/<%- session.discord_id %>/<%- session.avatar %>?size=64"><%
          }
        %>
      </div>

    </div>

    <!-- The menu button-->
    <div id="menu_button">
      <img src="/img/menu.svg">
    </div>

    <!-- Menu on the left -->
    <div id="menu_div">

      <!-- Div used for navigation links -->
      <div id="menu_div_links">
        <nav>
          <ul>
            <li><a href="#">Lien 1</a></li>
            <li><a href="#">Lien 2</a></li>
          </ul>
        </nav>
      </div>

      <!-- Div used to show user's guilds ( with Admin access ) -->
      <div id="menu_div_guilds">

        <%
          for(var i=0; i<guilds.length;i++){
            //Calculate icon for the server
            let link;
            if(guilds[i].icon!=undefined && guilds[i].icon!=''){
              link = "https://cdn.discordapp.com/icons/"+guilds[i].id+"/"+guilds[i].icon+".png?size=64";
            }else{
              link = "/img/profile.svg";
            }

            %>
            <a href="/panel/<%- guilds[i].id %>">
              <div class="menu_div_guilds_guild_div" id="<%- guilds[i].id %>">
                <img src="<%- link %>">
                <p><%- guilds[i].name %></p>
              </div>
            </a>
            <%
          }
        %>


      </div>

    </div>

    <!-- ##### Include Here index-panel or guild-panel #####-->
      <%
        if(guild==undefined){
          //On /panel
          %><%- include('ejs/index-panel.ejs'); %><%
        }else{
          //On /panel/:id
          %><%- include('ejs/guild-panel.ejs'); %>
            <style>
              #content_div_top_div_guild_div::after{
                content: "<%- guild.name %>";
              }
            </style>
            <%- include('blockly/toolbox.ejs'); %><%# Blockly Toolbox included here %>
          <%
        }
      %>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const url = new URLSearchParams(document.location.search);//Get the error param in URL and check if there is an error
    let error = url.get("error") || '0';

    console.log(error);
    console.log(url.get("error"));

    switch(error){
      case '0':
        break;//Everything is OK
      case '1':
        alert("Sorry but the bot must be added first to access Workspace. If you believe this is an error, try to kick the bot and add it again");
        break;
      default:
        break;
    }
  </script>
  <%
    if(guild!=undefined){
      //On guild panel
      %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/blockly/blockly.min.js"></script>
        <script><%- localization %>Blockly = init(Blockly);</script>

        <script>
          const socket = io();
          const toolbox = document.getElementById("toolbox");

          <%
            for(var i=0;i<blocks.length;i++){
              %> Blockly.defineBlocksWithJsonArray(<%- blocks[i] %>); <%
            }
          %>

          const custom_theme = Blockly.Theme.defineTheme('themeName', {
            'base': Blockly.Themes.Classic,
            'startHats': true
          });

          var options = {
            toolbox : toolbox,
            collapse : true,
            comments : true,
            disable : false,
            maxBlocks : Infinity,
            trashcan : true,
            horizontalLayout : false,
            toolboxPosition : 'start',
            css : true,
            //media : 'https://blockly-demo.appspot.com/static/media/',
            rtl : false,
            scrollbars : true,
            sounds : true,
            oneBasedIndex : true,
            grid:
             {spacing: 20,
              length: 6,
              colour: '#ccc',
              snap: true},
            zoom:
             {controls: true,
              wheel: true,
              startScale: 1.0,
              maxScale: 3,
              minScale: 0.3,
              scaleSpeed: 1.2,
              pinch: true},
            theme: custom_theme
          };

          let workspace = Blockly.inject("#content_blockly", options);
          workspace.addChangeListener(Blockly.Events.disableOrphans);//Disable blocks not on events

          //If a workspace is stored in database, it is restored here
          <% if(workspace_xml){ %>
            Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom('<%- workspace_xml %> '), workspace); <%
          }%>

          //Function to send workspace's blocks to the server :
          function sendWorkspaceToServer(){
            alert("Envoi du code en cours !");
            socket.emit("send_workspace","<%- guild.id %>" , Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace)), (callback)=>{
              if(callback.status == "OK"){
                alert("Code correctement envoyé");
              }else{
                alert("Il y a eu une erreur !");
                console.log("ERREUR : "+ callback.status);
              }
            });
          }
        </script>
      <%
    }
  %>
  <script>
    /* Menu slider on phones */
    let isMenuShown = false;

    $("#menu_button img").click(()=>{
      if(isMenuShown){
        //Remove menu
        $("#menu_div > *").css("display", "none");
        $(".black_opacity").css("display", "none");
        $("#menu_div").animate({"width":"0%"}, 500, "swing", ()=>{
          $("#menu_div").css("display", "none");
        });

        isMenuShown = false;
      }else{
        //Show menu
        $("#menu_div > *").css("display", "block");
        $(".black_opacity").css("display", "block");
        $("#menu_div").css("display", "block");
        $("#menu_div").animate({"width":"30%"}, 500);

        isMenuShown = true;
      }
    });

    <% if(guild){ %>//Only on panel/:id, guild must be defined

    /* Show currentGuild in guilds list :*/
    $('#<%- guild.id %>').css("background-color", "#7F7F80");

    /* Adding Guild picture on top of the guild editor panel */
    if(<%- guild.id %>!="panel"){
      //Must not be on the index panel
      $("#content_div_top_div_guild_div img").attr('src', $('#'+guildId+" img").attr('src'));//Img src getted from menu, and sent to the header <img>'s src
    }

    <% } %>

  </script>
  </body>
  <footer>
  </footer>
</html>
