<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Disblock panel, check latest news and manage your servers here"/>
    <!-- Voir https://developer.mozilla.org/fr/docs/Web/HTTP/CSP et https://developer.mozilla.org/fr/docs/Web/HTML/Element/meta -->
    <title>Disblock - Panel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
    <link rel="stylesheet" type="text/css" href="/style">
    <link rel="stylesheet" type="text/css" href="/style/panel-style">
  </head>
  <body>

    <!-- Div only used to add opacity on all screen -->
    <div class="black_opacity" id="black_opacity_full_screen">
    </div>

    <!-- Div only used to add opacity when menu is shown ( phones ) -->
    <div class="black_opacity" style="z-index:1;" id="black_opacity_menu">
    </div>

    <!-- Div used to contain the message window -->
    <div class="message_window_div" style="display:none;">
      <h2 class="message_window_div_title">Title</h2>
      <div class="message_window_div_animation_div">

        <!-- Imported code, license available in stylesheet -->
        <link rel="stylesheet" type="text/css" href="/style/check-cross-animation">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" height="100%" width="100%" style="display:none;" class="check_svg">
          <circle class="path" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <polyline class="path" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" height="100%" width="100%" style="display:none;" class="cross_svg">
          <circle class="path" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <line class="path" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
          <line class="path" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
        </svg>
        <!-- End of imported code -->

      </div>
      <p class="message_window_div_text"></p>
      <button class="message_window_div_button" onclick="hideWindow();">Confirmer</button>
    </div>

    <!-- The div on top -->
    <div id="top_div">

      <div id="top_div_img_div">
        <a href="/"><img src="/img/carree.png"></a>
      </div>
      <!-- Div used to contain logout svg ( Or login svg ) -->
      <div id="top_div_logout">
        <%
          if(session.username==undefined){
            //Not logged in
            %>
              <style>
                #top_div_logout a::before{
                  content: "Login With Discord";
                  color: white;
                  font-size: 1em;
                  margin-bottom: 40%;
                }
              </style>
              <a href="/login"><img src="img/login.svg"></a>
            <%
          }else{
            //Logged in
            %><a href="/logout"><img src="/img/logout.svg"></a><%
          }
        %>
      </div>

      <!-- Div used to show user profile picture/pseudo, or the "Login" button -->
      <style>
        #top_div_user::after{content: "<%= session.username||"" %>";}
      </style>

      <div id="top_div_user">
        <%
          if(session.username!=undefined){
            //Logged in
            %><img src="https://cdn.discordapp.com/avatars/<%- session.discord_id %>/<%- session.avatar %>?size=64"><%
          }
        %>
      </div>

    </div>

    <!-- The menu button-->
    <div id="menu_button">
      <img src="/img/menu.svg">
    </div>

    <!-- Menu on the left -->
    <div id="menu_div">

      <!-- Div used for navigation links -->
      <div id="menu_div_links">
        <nav>
          <ul>
            <li><a href="/panel/premium">Premium</a></li>
            <li><a href="#">Lien 2</a></li>
          </ul>
        </nav>
      </div>

      <!-- Div used to show user's guilds ( with Admin access ) -->
      <div id="menu_div_guilds">

        <%
          for(var i=0; i<guilds.length;i++){
            //Calculate icon for the server
            let link;
            if(guilds[i].icon!=undefined && guilds[i].icon!=''){
              link = "https://cdn.discordapp.com/icons/"+guilds[i].id+"/"+guilds[i].icon+".png?size=64";
            }else{
              link = "/img/profile.svg";
            }

            %>
            <a href="/panel/<%- guilds[i].id %>">
              <div class="menu_div_guilds_guild_div" id="<%- guilds[i].id %>">
                <img src="<%- link %>">
                <p><%= guilds[i].name %></p>
              </div>
            </a>
            <%
          }
        %>


      </div>

    </div>

    <!-- ##### Include Here index-panel or guild-panel #####-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <%
        /*
        page arg :
        0 = index-panel
        1 = guild-panel
        2 = rollback-panel
        3 = logs-panel
        4 = premium pannel
        */
        if(page==0){//Guild undefined
          //On /panel
          %><%- include('ejs/index-panel.ejs', {locale:locale, news:news}); %><%
        }else if(page==1){//Guild defined, blocks defined
          //On /panel/:id
          %><%- include('blockly/toolbox.ejs'); %><%# Blockly Toolbox included here %>
          <%- include('ejs/guild-panel.ejs', {locale:locale, blocklyLocale:blocklyLocale, blocks: blocks, workspace_xml:workspace_xml, guild:guild, premium:premium}); %>

          <%
        }else if(page==2){//Guild defined, blocks undefined
          //On /panel/:id/rollback
          %><%- include('ejs/rollback-panel.ejs', {locale:locale, guild:guild, savedWorkspaces:savedWorkspaces, premium:premium}); %><%
        }else if(page==3){//Guild defined, blocks undefined
          //On /panel/:id/logs
          %><%- include('ejs/logs-panel.ejs', {locale:locale, guild:guild, logs:logs, premium:premium}); %><%
        }else if(page==4){
          //On /panel/premium
          %><%- include('ejs/premium-panel.ejs', {locale:locale, guilds:guilds, premiumSlots:premiumSlots}); %><%
        }
      %>



  <script>
    //Function used to show the error/success window
    function showWindow(isSuccess, title, text){
      $("#black_opacity_full_screen").css('display', 'block');

      if(isSuccess){//Show green check
        $('.check_svg').css('display', 'block');
        $('.check_svg > circle').addClass('circle');
        $('.check_svg > polyline').addClass('check');
      }else{//Show red cross
        $('.cross_svg').css('display', 'block');
        $('.cross_svg > circle').addClass('circle');
        $('.cross_svg > line').addClass('line');
      }

      $('.message_window_div_title').text(title);
      $('.message_window_div_text').text(text);

      $('.message_window_div').fadeIn(400);

    }

    //Function used to hide the error/success window
    function hideWindow(){
      //Fade out the window
      $('.message_window_div').fadeOut(300, ()=>{
        //Then, removing classes to reset animations
        $("#black_opacity_full_screen").css('display', 'none');
        $('.check_svg,.cross_svg').css('display', 'none');
        $('.check_svg > circle,.cross_svg > circle').removeClass('circle');
        $('.check_svg > polyline').removeClass('check');
        $('.cross_svg > line').removeClass('line');
      });
    }



    const url = new URLSearchParams(document.location.search);//Get the error param in URL and check if there is an error
    let error = url.get("message") || '0';

    switch(error){
      case '0':
        break;//Everything is OK
      case '1':
        showWindow(false, "<%- locale.showWindowCantAccessServerTitle %>", "<%- locale.showWindowCantAccessServerText %>");
        break;
      case '2':
        showWindow(true, "<%- locale.showWindowRollbackSuccessTitle %>", "<%- locale.showWindowRollbackSuccessText %>");
        break;
      case '3':
        showWindow(false, "<%- locale.showWindowRollbackErrorTitle %>", "<%- locale.showWindowRollbackErrorText %>");
        break;
      case '4':
        showWindow(true, "<%- locale.showWindowGivePremiumToServerSuccessTitle %>", "<%- locale.showWindowGivePremiumToServerSuccessText %>");
        break;
      case '5':
        showWindow(false, "<%- locale.showWindowPremiumCodeFailedTitle %>", "<%- locale.showWindowPremiumCodeFailedText %>");
        break;
      case '6':
        showWindow(true, "<%- locale.showWindowPremiumCodeSuccessTitle %>", "<%- locale.showWindowPremiumCodeSuccessText %>");
        break;
      default:
        break;
    }
  </script>
  <script>
    /* Menu slider on phones */
    let isMenuShown = false;

    $("#menu_button img").click(()=>{
      if(isMenuShown){
        //Remove menu
        $("#menu_div > *").css("display", "none");
        $("#black_opacity_menu").css("display", "none");
        $("#menu_div").animate({"width":"0%"}, 500, "swing", ()=>{
          $("#menu_div").css("display", "none");
        });

        isMenuShown = false;
      }else{
        //Show menu
        $("#menu_div > *").css("display", "block");
        $("#black_opacity_menu").css("display", "block");
        $("#menu_div").css("display", "block");
        $("#menu_div").animate({"width":"30%"}, 500);

        isMenuShown = true;
      }
    });

    <% if(guild){ %>//Only on panel/:id, guild must be defined

    /* Show currentGuild in guilds list :*/
    $('#<%- guild.id %>').css("background-color", "#7F7F80");

    <% } %>

  </script>
  </body>
  <footer>
  </footer>
</html>
