<!-- Content div : Informations, ect... -->
<link rel="stylesheet" type="text/css" href="/style/index-panel-style">
<div id="content_div">

  <!-- This div is just under the #top_div -->
  <div id="content_div_top_div">

  </div>

  <!-- This div contain the blocks on top of this space -->
  <div id="content_div_header_div">
    <div class="content_div_header_div_subdiv">
      <!-- Informations and help about the panel -->
      <p><%- locale.panelIndexMessageDiv1 %></p>
    </div>

    <div class="content_div_header_div_subdiv">
      <!-- More informations -->
      <p><%- locale.panelIndexMessageDiv2 %></p>
    </div>
  </div>

  <!-- This div is used to contain news -->
  <div id="content_div_news_div">

    <%
      for(let i=0; i<news.length; i++){
        %>
          <div class="content_div_news_subdiv">
            <div class="news_subdiv_header">
              <h2><%- news[i].title %></h2>
              <p><%= news[i].sent_date.valueOf() %></p>
            </div>

            <div class="news_subdiv_text">
              <p>
                <%- news[i].message %>
              </p>
            </div>
          </div>
        <%
      }
    %>

  </div>

</div>
<script>
  $(".news_subdiv_header p").each((index,element)=>{
    $(element).text(new Date(parseInt($(element).text())).toLocaleString());
  });
</script>
