<link rel="stylesheet" type="text/css" href="/style/logs-panel-style">
<div id="content_div">

  <%- include("../assets/guild_div.ejs", {guild:guild, premium:false})%>

  <!-- Title -->
  <h1 class="content_title"><%- locale.logsPageTitle %></h1>

  <!-- Text -->
  <p class="content_text"><%- locale.logsPageText %></p>

  <div class="content_logs_div">
    <!-- A save which can be restored -->

    <%
    if(logs.length>0){
      for(let i=0; i<logs.length; i++){

        %>
        <div class="content_logs_div_saved_entry">
          <img width="40px" height="40px" src="https://cdn.discordapp.com/avatars/<%= logs[i].user_id %>/<%= logs[i].avatar %>?size=64">
          <p class="content_logs_div_saved_entry_username"><%= logs[i].username %></p>
          <p class="content_logs_div_saved_entry_date"><%= logs[i].action_date.valueOf() %></p>
          <p class="content_logs_div_saved_entry_action"><%= logs[i].action %></p>
          <% if(logs[i].staff_action){%>
            <p class="content_logs_div_saved_entry_staff"><%- locale.logsPageStaff %></p>
          <%}%>
        </div>
        <%
      }
    }else{
      %><p class="content_text"><%- locale.logsPageNoLogs %></p><%
    }

    %>
  </div>
</div>
<script>
  $(".content_logs_div_saved_entry_date").each((index,element)=>{
    $(element).text(new Date(parseInt($(element).text())).toLocaleString());
  });
</script>
