<link rel="stylesheet" type="text/css" href="/style/rollback-panel-style">
<div id="content_div">

  <%- include("../assets/guild_div.ejs", {guild:guild, premium:false})%>

  <!-- Title -->
  <h1 class="content_title"><%- locale.rollbackPageTitle %></h1>

  <!-- Text -->
  <p class="content_text"><%- locale.rollbackPageText %></p>

  <div class="content_saves_div">
    <!-- A save which can be restored -->

    <%
    if(savedWorkspaces.length>0){
      for(let i=0; i<savedWorkspaces.length; i++){

        %>
        <div class="content_saves_div_saved_workspace">
          <p class="content_saves_div_saved_workspace_id">#<%- savedWorkspaces[i].workspace_id %></p><br>
          <p class="content_saves_div_saved_workspace_date"><%- savedWorkspaces[i].creation_date.valueOf() %></p>
          <button class="content_saves_div_saved_workspace_restore" onclick="location.href='/panel/<%- guild.id %>/rollback/<%- savedWorkspaces[i].workspace_id %>?token=<%- session.securityToken %>'"><%- locale.rollbackPageRestaure %></button>
        </div>
        <%
      }
    }else{
      %><p class="content_text"><%- locale.rollbackPageNoSaves %></p><%
    }

    %>
  </div>
</div>
<script>
  $(".content_saves_div_saved_workspace_date").each((index,element)=>{
    $(element).text(new Date(parseInt($(element).text())).toLocaleString());
  });
</script>
